doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title new project   
        style   
            include ../static/style.css
    body 
        nav#navbar 
            ul
                div#logo
                    img(src = "/static/AbCDlogo.png")
                    |HDA
                li #[a(href="/")  Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class info]
                li #[a(href="/") Contact Us ]

        section#introSection 
            div Welcome to The amazing Dance Academy
            div.small Eat Sleep Dance Repeat

        section#Missionsection
            h2 Our Mission
            
            div.card
                h3 Dance With Perfection
                div.card-box
                    div.card-img
                        img(src = "/static/pic2.jpg")

                    div.card-content
                        p  Indian Classical And Bharatnatyam 
            div.card
                h3 Dance Without Fear 
                div.card-box
                    div.card-img
                        img(src = "/static/pic1.jpg")

                    div.card-content
                        p Ball Dances like Salsa and Tango
            div.card
                h3 Dance with Joy
                div.card-box
                    div.card-img
                        img(src = "/static/pic3.jpg")

                    div.card-content
                        p  Free Style And Contemprory

        section#sponsorsSection 
            h2 Our sponsors
            div#sponsors
                img(src="/static/logo1.png", alt="Sponsors image", class="spimage")
                img(src="/static/logo2.png", alt="Sponsors image", class="spimage")
                img(src="/static/logo3.png", alt="Sponsors image", class="spimage")
                img(src="/static/logo4.png", alt="Sponsors image", class="spimage")

        footer#footer 
            | Copyright © 2024 AnyBodyCanDAnce.com | All rights reserved
        script 
            include ../static/index.js
