h1{
    text-align: center;
    margin: 12px 0 ;
}

.container{
    min-height: 80vh;
    display: block;
    align-items: center;
    margin: 49px 0;
}

.container h1{
    font-family: Arial, Helvetica, sans-serif;
}
.myform{
    display: flex;
    flex-direction:  column;
    /* width: 50%; */
    align-items: center;
    justify-content: center;
    width: 100%;

}

.myinput{
    font-size: 15px;
    width: 40%;
    padding: 12px 9px;
    margin: 8px;
    border: solid 2px;
    border-radius: 9px;
    outline: none;
}

.btn{
    padding: 12px 16px;
    font-size: 12px 16px;
    border-radius: 7px;
    cursor: pointer;
}